.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 50px
}

.inspection-wrapper {
    width: 100%;
}

.car-inspect-image {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.car-inspect-image img {
    position: relative;

    object-fit: contain;
}

.car-inspect-image img,
.inspection-wrapper {
    width: 720px;
    flex-grow: 1;
    height: 100%;
}

.issue-table-wrapper {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    overflow-y: scroll;
}

#myCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.inspection-card input[type=text],
.inspection-card input[type=number],
.inspection-card input[type=datetime-local] {
    vertical-align: middle;
    box-shadow: none;
    border-style: none;
    background-color: rgb(225, 225, 225);
    color: rgb(14,
            15,
            19);
    font-family: 'open sans', sans-serif;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
}

.inspection-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0.1px 8px rgb(156, 156, 156);
}

#show-inspection {
    position: relative;
    background-color: rgb(4, 191, 173);
    font-weight: 800;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    border: none;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}

#show-inspection:hover {
    background-color: #027373;
}

#show-inspection span {
    font-weight: 800;
}

.inspection-info.show {
    max-height: 2000px;
    max-width: 2000px;
    z-index: 9999;
}

.icon-in-button {
    /*     position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    height: 1em;
    width: 1em;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;

}

#show-inspection .icon-in-button.show {
    transform: rotateZ(90deg);

}

@media only screen and (max-width: 1280px) {
    .inspection-info {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {


    .inspection-info {

        transform: scale(0.5);
    }
}

.issue-table-wrapper {

    height: 479px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.issue-table {

    background-color: white;
    border-radius: 20px;
    height: 479px;
    border-collapse: collapse;
}


.issue-table .issue {
    background-color: white;
}

.issue-table .issue-number {
    vertical-align: middle;
    text-align: center;
    width: 1em;
}

.issue-table .issue-price {
    width: 30%;
    margin: 5px;
}

.issue-table .issue-price input {
    width: 90%;
}

.issue-table .issue:nth-child(even) {
    background-color: rgb(213, 235, 240)
}


.issue-table thead {
    background-color: rgba(2,
            115,
            115);
}

.issue-table tr {
    width: 100%;
}

.issue-table td,
.issue-table th {
    padding: 10px;
    word-wrap: break-word;
    white-space: nowrap;
}

.issue-table td *,
.issue-table th * {
    vertical-align: middle;
}

.issue-table td {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.issue-table th {
    color: rgb(255, 255, 255)
}

.total-charges {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.total-charges .line-item {
    display: flex;
    justify-content: space-between;
}


.total-charges .line-item:last-child {
    border-top: solid 0.5px rgb(151, 157, 166);
}

.item-in-button {
    height: 1em;
    width: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    overflow: visible;
    width: 768px;
}

.inspection-card:hover {
    transform: none;
}