.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 40px rgba(34, 35, 58, 0.5);
    margin-bottom: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
}

.card h2 {
    margin: 0;
    padding: 0 1rem;
}

.card .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}

.img-avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-color: #04BFAD;
    top: 15px;
    left: 20%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.img-avatar svg {
    padding-top: 20px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("../pics/Model-3-Range-Hero-Desktop-LHD.jpeg ");
    background-position: bottom center;
    background-size: cover;

    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.portada-wrap {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
}

.rental-table {
    border-collapse: collapse;
}

.rental-table .details {
    background-color: white;
}

.rental-table .details:nth-child(even) {
    background-color: rgb(213, 235, 240)
}


.rental-table thead {
    background-color: rgba(2,
            115,
            115);
}

.rental-table td,
.rental-table th {
    padding: 40px;
    word-wrap: break-word;
    white-space: nowrap;
}

.rental-table td *,
.rental-table th * {
    vertical-align: middle;
}

.rental-table td {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.rental-table th {
    color: rgb(255, 255, 255)
}

.inspection,
.paid,
.cancelled,
.rent,
.sent {
    border-radius: 50%;
    height: 0.75em;
    width: 0.75em;
    display: inline-block;

    margin-right: 0.75em;
}

.cancelled {
    background-color: rgb(165, 165, 165);
}

.paid {
    background-color: rgb(77, 222, 33);
}

.sent {
    background-color: rgb(34, 144, 212);
}

.inspection {
    background-color: rgb(255, 0, 0);
}

.rent {
    background-color: rgb(255, 181, 34);
}

.inspection a {
    text-decoration: none;
    color: rgb(255, 170, 0);
}

.rental-table-wrapper {
    border-radius: 20px;
    max-width: fit-content;
    box-shadow: 0 0.075px 4px rgb(195, 195, 195);
}

.current-rentals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.rental-table-wrapper .serial {
    font-weight: 600;

}

.rental-table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

.rental-table tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

.rental-table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.rental-table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}


.rental-table .details:hover {
    transform: scale(1.015);
    box-shadow: 0 0.1px 2px rgb(156, 156, 156);
    transition: all 100ms ease-in-out;
    border-top: none;
    border-bottom: none;
    z-index: 20;
}

/* .portada:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
} */

.link-icon {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    display: inline-block;
    z-index: 999999;
}

a svg {
    margin-right: 10px;
}

.actions {
    display: flex;
    gap: 20px;
}

.title {
    color: rgb(2,
            115,
            115);
}

.name-heading {
    color: rgb(2,
            115,
            115);
    font-weight: 800;
    font-size: 3em;
}

.desc * {
    color: rgb(82, 87, 94);
}

.current-rentals .title {
    font-size: 2em;
}