.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

.user-profile {
    height: 100%;
    width: 100%;

    border-radius: 20px;

}

.user-profile {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
    padding: 10px;
}

.user-profile .content {
    grid-area: content;
    padding: 10px;
}

.user-profile .sidebar {
    grid-area: sidebar;
}

.user-profile .content .profile-name {}

.user-profile .content .profile-info {}

.user-profile .content .current-rent {}

.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    max-width: 768px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
}

.card h2 {
    margin: 0;
    padding: 0 1rem;
}

.card .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}

.card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: 15px;
    left: 85px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;

}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("../pics/Model-X-Main-Hero-Desktop-LHD.jfif");
    background-position: top center;
    background-size: cover;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.portada-wrap {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
}

.rental-table {
    background-color: white;
    border-collapse: collapse;
}

.rental-table .details {
    background-color: white;
}

.rental-table .details:nth-child(even) {
    background-color: rgb(213, 235, 240)
}


.rental-table thead {
    background-color: rgba(2,
            115,
            115);
}

.rental-table td,
.rental-table th {
    padding: 40px;
    word-wrap: break-word;
    white-space: nowrap;
}

.rental-table td *,
.rental-table th * {
    vertical-align: middle;
}

.rental-table td {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.rental-table th {
    color: rgb(255, 255, 255)
}

.inspection,
.paid,
.cancelled,
.rent,
.sent {
    border-radius: 50%;
    height: 0.75em;
    width: 0.75em;
    display: inline-block;

    margin-right: 0.75em;
}

.cancelled {
    background-color: rgb(165, 165, 165);
}

.paid {
    background-color: rgb(77, 222, 33);
}

.sent {
    background-color: rgb(34, 144, 212);
}

.inspection {
    background-color: rgb(255, 0, 0);
}

.rent {
    background-color: rgb(255, 181, 34);
}

.inspection a {
    text-decoration: none;
    color: rgb(255, 170, 0);
}

.rental-table-wrapper {
    border-radius: 20px;
    max-width: fit-content;
    box-shadow: 0 0.075px 4px rgb(195, 195, 195);
}

.current-rentals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.rental-table-wrapper .serial {
    font-weight: 600;

}

.rental-table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

.rental-table tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

.rental-table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.rental-table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}


.rental-table .details:hover {
    transform: scale(1.015);
    box-shadow: 0 0.1px 2px rgb(156, 156, 156);
    transition: all 100ms ease-in-out;
    border-top: none;
    border-bottom: none;
    z-index: 20;
}

/* .portada:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
} */