/* Color Theme Swatches in RGBA */
.Human-hand-is-holding-Electric-Car-Charging-connect-to-Electric-car-1-rgba {
    color: rgba(3, 156, 191, 1);
}

.Human-hand-is-holding-Electric-Car-Charging-connect-to-Electric-car-2-rgba {
    color: rgba(196, 237, 242, 1);
}

.Human-hand-is-holding-Electric-Car-Charging-connect-to-Electric-car-3-rgba {
    color: rgba(242, 107, 29, 1);
}

.Human-hand-is-holding-Electric-Car-Charging-connect-to-Electric-car-4-rgba {
    color: rgba(242, 119, 75, 1);
}

.Human-hand-is-holding-Electric-Car-Charging-connect-to-Electric-car-5-rgba {
    color: rgba(89, 49, 46, 1);
}